.button {
    display: inline-block;

    padding: 10px 0;
    min-width: 200px;
    min-height: 50px;
    text-align: center;

    border-radius: 4px;
    border-width: 0;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    outline: transparent;
}

.hero-button {
    min-width: 216px;
}

// MODAL close
.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--modal-cls-btn);
    background-color: var(--primary-white-color);
    cursor: pointer;
}

.modal__close-icon {
    fill: var(--black-color);

    transition: fill 250ms var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}



// MODAL submit

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    transition: background-color 250ms var(--cubic);

    &:hover {
        background-color: var(--accent-color-hover);
    }
}



// FOOTER subscribe BTN
.subscribe__button {
    position: relative;
    display: flex;
    align-items: center;

    padding: 10px 32px;

    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--accent-color-hover);
    }  
}

.subscribe__icon {
    position: absolute;

    right: 28px;
    margin-left: 10px;
}

// PORTFOLIO FILTER BTN
.projects__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &-item+&-item {
        margin-left: 8px;
    }
}

.projects__filter-btn {
    padding: 6px 25px;
    min-width: 73px;
    min-height: 38px;
    
    color: var(--title-text-color);
    background-color: var(--background-secondary-color);
    box-shadow: none;
  
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;

    transition: background-color 250ms var(--cubic),
    color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}