.request-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 448px;

    & textarea {
        resize: none;
        margin-bottom: 20px;
        padding: 12px 16px;
        width: 448px;
        height: 120px;
        border: 1px solid var(--input-border-color);
        border-radius: 4px;

        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--primary-text-color);

        opacity: 1;
        outline: transparent;

        transition: border 250ms var(--cubic);

        &:focus {
            border: 1px solid var(--accent-color);
        }

    }
}

.request-form__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}

.request-form__label {
    display: block;
    padding-bottom: 4px;
    margin: 0;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.request-form__field {
    position: relative;
    margin-bottom: 10px;

    &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        fill: var(--title-text-color);

        transition: border 250ms var(--cubic),
            fill 250ms var(--cubic);
    }
}

.request-form__input {
    height: 40px;
    width: 100%;
    padding: 12px 12px 12px 42px;

    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    outline: transparent;

    transition: border 250ms var(--cubic);

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textarea-text-color);

    &:focus {
        border: 1px solid var(--accent-color);
    }

    &:focus+.request-form__field-icon {
        fill: var(--accent-color);
    }
}

.request-form__terms {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.terms__label {

    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;

    line-height: 1.71;
    letter-spacing: 0.01em;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;

    &-link {
        color: var(--accent-color);
    }

    &-text {
        margin-left: 8px;
    }

    &-icon {
        position: relative;
        top: 2px;
        flex-shrink: 0;
        border: 2px solid var(--title-text-color);
        border-radius: 2px;
        fill: transparent;
    
        transition: border-color 250ms var(--cubic),
            background-image 250ms var(--cubic),
            background-repeat 250ms var(--cubic),
            background-size 250ms var(--cubic),
            background-origin 250ms var(--cubic);
    }
}

.terms__input:checked+.terms__label .terms__label-icon {
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}



