// MOB MENU BUTTON

.menu-toggle {
    display: inline-block;
    align-items: center;

    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 768px) {
        display: none;
    }

}

.menu-toggle .icon-cross {
    display: none;
}

.menu-toggle.is-open .icon-cross {
    display: block;
}

.menu-toggle.is-open .icon-menu {
    display: none;
}


.mobile-menu__container {
    
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--primary-white-color);
    padding: 48px 40px;
}

.mobile-nav__list {
    margin-bottom: 302px;
}

.mobile-nav__item {
    margin-bottom: 32px;

    &:nth-child(n + 3) {
        margin-bottom: 0;
    }
}

.mobile-nav__link {
    
    
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transform: color var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.current {
        color: var(--accent-color);
    }

}

.mobile-contacts__list {
    margin-bottom: 64px;
}

.mobile-contacts__item {
    margin-bottom: 32px;

    &:nth-child(n + 2) {
        margin-bottom: 0;
    }
}

.mobile-contacts__link {

    text-decoration: none;
    font-style: normal;
    
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transform: color var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--accent {
        margin-bottom: 32px;
        font-size: 34px;
        color: var(--accent-color);
    }
}

.mobile-social__list {
    display: flex;

}

.mobile-social__item {

    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;

    &:nth-child(1) {
        padding-left: 0;

    }

    &:nth-child(n + 4) {
        padding-right: 0;
        border-right: none;

    }


}

.mobile-social__link {
    
    text-decoration: none;
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}





