.footer__subscribe {
    display: block;
}

.subscribe__form {
    

    @media screen and (min-width: 1199px) {      
        display: flex;
        text-align: center;
    }

}

.subscribe__input {

    min-width: 290px; 
    height: 50px;

    padding: 15px 16px;
    
    margin-bottom: 20px;
    

    border: 1px solid var(--footer-subscribe-border);
    box-shadow: var(--btn-shadow);
    border-radius: 4px;
    background-color: transparent;

    outline: transparent;

    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    transition: border 250ms var(--cubic);

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
    }

    @media screen and (min-width: 480px) {

        width: 358px;

    }

    @media screen and (min-width: 768px) {

        width: 450px;

    }

    @media screen and (min-width: 1200px) {
        
        width: 358px;
        margin: 0 auto 20px auto;

    }           
}





