.team {
    background-color: var(--background-secondary-color);
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 270px;

    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;

    &--shadow {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    }
}

.team__member {
    padding: 30px 32px;

    &--name {
        margin-top: 0;
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: var(--title-text-color);
        text-align: center;
    }

    &--position {
        margin: 0 0 16px 0;
    
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}
