:root {
    --main-font: Roboto, sans-serif;

    --portfolio-header-stroke: #ECECEC;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --primary-white-color: #ffffff;
    --black-color: #000000;

    --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    --background-secondary-color: #F5F4FA;
    --background-accent-color: #2F303A;
    --background-hero-color: #C4C4C4;

    --icon-social: #AFB1B8;
    --icon-footer-social-bgc: rgba(255, 255, 255, 0.1);
    
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --footer-subscribe-border: rgba(255, 255, 255, 0.3);
    --card-border: #EEEEEE;
   
    --portfolio-card-hover: rgba(33, 150, 243, 0.9);
    --about-overlay: rgba(47, 48, 58, 0.8);
    
    --modal-cls-btn: rgba(0, 0, 0, 0.1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --textarea-color: rgba(117, 117, 117, 0.5);
    --textarea-text-color: rgb(117, 117, 117);

    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    

}

